
body > .toolbar {
overflow-x: hidden;
/*background: url(toolbar.png) #6d84a2 repeat-x;*/
	background-image: url(/static/img/rtlogo.jpg), url(/static/img/rtlogo_background.png); background-position: top left, top center; background-repeat: no-repeat, repeat-x; background-color:#FFFFFF;
}

.top_panel {
	 background: url(/static/img/listGroup.png) repeat-x;
}

.top_panel span {
	position:absolute;
	color:white;
	margin-left:10px;
	top:5px;
}
/*
body > .panel {
    background: #c8c8c8 url(/static/img/rtbackground.jpg);
}
*/
body > .panel {
    background: #FFFFFF;
}
