<table border="1">
<tr><td>Code</td><td>Issue Date</td><td>Registered Date</td><td>Status</td></tr>
{% for tag in tested %}
    <tr><td>{{ tag.code }}</td><td>{{ tag.issued_date }}</td><td>{{ tag.registered_date }}</td><td>{{ tag.status }}</td></tr>
{% endfor %}
</table>
