<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>

		<link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/favicon.png" type="image/png" />
		<meta charset="utf-8">
		<!-- AJG -->
		<meta name="google-site-verification" content="ach2diEYzXH-GnhepDZLBxiJK50Ctses1YnSg-ETBZ8" />
		<meta name="p:domain_verify" content="f3bff39cde78225a1fe0a8da7a01569a"/>
		<!-- AJG -->
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		{% block title %}
		<title> Welcome &ndash; RocketTags - The Trusted Lost and Found Tag Solution </title>
		{% endblock title %}
		
		<meta name="description" content="RocketTags are the World's trusted lost and found tag system. Use RocketTags to better protect your valuables. StickOn, KeyRing and Luggage tag products available." />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="canonical" href="//www.rockettags.com/" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="Welcome" />

		<meta property="og:image" content="http://cdn.shopify.com/s/files/1/0504/5549/t/2/assets/logo.png" />
		<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0504/5549/t/2/assets/logo.png" />

		<meta property="og:description" content="RocketTags are a unique QR Code based, lost and found tag system. Use RocketTags to better protect your valuables. If lost, a finder can scan the RocketTag" />

		<meta property="og:url" content="http://store.rockettags.com/" />
		<meta property="og:site_name" content="RocketTags - The Trusted Lost and Found Tag Solution" />

		<link href="/static/css/styles.css" rel="stylesheet" type="text/css"  media="all"  />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css"  media="all"  />

		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Asap:300,400,700">
		<link rel="stylesheet" type="text/css" href="/static/css/custom.css" media="all">

		<script src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/html5shiv.js" type="text/javascript"></script>

		<script>
			//<![CDATA[
			var Shopify = Shopify || {};
			Shopify.shop = "rockettags-llc.myshopify.com";
			Shopify.theme = {
				"name" : "Minimal",
				"id" : 8408287,
				"theme_store_id" : 380,
				"role" : "main"
			};

			//]]>
		</script>

		<script id="__st">
			//<![CDATA[
			var __st = {
				"a" : 5045549,
				"offset" : -14400,
				"reqid" : "cd6c16a5-f042-4d12-9580-2248cdcb3bde",
				"u" : "8bf1507aa573",
				"p" : "home"
			};
			//]]>
		</script>
		<script>
			//<![CDATA[
			(function() {
				function asyncLoad() {
					var urls = ["//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6"];
					for (var i = 0; i < urls.length; i++) {
						var s = document.createElement('script');
						s.type = 'text/javascript';
						s.async = true;
						s.src = urls[i];
						var x = document.getElementsByTagName('script')[0];
						x.parentNode.insertBefore(s, x);
					}
				}


				window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
			})();

			//]]>
		</script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-33609245-1', 'auto');
          ga('send', 'pageview');

        </script>

		<script type="text/javascript" src="//cdn.shopify.com/s/global/ga_urchin_forms.js"></script>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

		<script src="//cdn.shopify.com/s/shopify/option_selection.js" type="text/javascript"></script>
		<script src="//cdn.shopify.com/s/shopify/api.jquery.js" type="text/javascript"></script>

	</head>

	<body>
		
		<!-- error message when CSRF fails due to cookies disabled -->
		{% if reason %}
		<div class="custom">
			<div class="alert alert-danger">
				<strong>Error!</strong> Rockettags needs cookies enabled
			</div>
		</div>
		{% endif %}

		<!-- Begin toolbar -->
		<div class="toolbar-wrapper">
			<div class="toolbar clearfix">
				<div class="span12 clearfix">
					<ul class="unstyled">

						<!--AJG CUSTOM START -->
						<li style="line-height: 20px; padding-top:6px;" class="fl" >
							<div id="google_translate_element"></div>
							<script type="text/javascript">
								function googleTranslateElementInit() {
									new google.translate.TranslateElement({
										pageLanguage : 'en',
										layout : google.translate.TranslateElement.InlineLayout.SIMPLE
									}, 'google_translate_element');
								}
							</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
						</li>
						{% if request.user.email %}
                            <li class="fr">{{ request.user.email }} <a href="/user_logout/">logout</a></li>
                        {% endif %}   
                        <li class="fr"><a href="{{ MAIN_SECURE_HOST }}{% if request.user.userprofile.is_corporate %}/corpmanage{% else %}/myrockettags{% endif %}">My RocketTags</a></li>
                        <!-- AJG CUSTOM END -->
					</ul>
				</div>
			</div>
		</div>
		<!-- End toolbar -->

		<!-- Begin wrapper -->
		<div id="transparency" class="wrapper">
			<div class="row">
				<!-- Begin right navigation -->

				<div class="row" id="header">
					<div class="span12 border-bottom">

						<div class="span5 inner-left">

							<div class="logo">

								<a href="/"><img src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/logo.png" alt="RocketTags - The Trusted Lost and Found Tag Solution" /></a>

								<h1 style="display:none"><a href="/">RocketTags - The Trusted Lost and Found Tag Solution</a></h1>

							</div>
						</div>

						<section id="nav">

							<div class="span7 inner-right">

								<nav class="main">
	                                <ul class="horizontal unstyled clearfix fr">
	                                    <li class="">
	                                        <a href="{{ MAIN_INSECURE_HOST }}">
											home
											</a>
	                                    </li>
	                                    <li class="">
	                                        <a href="http://store.rockettags.com/" class="">
											store</a>
	                                    </li>
	                                    <li class="">
	                                        <a href="http://store.rockettags.com/pages/how-it-works">
											how it works
											</a>
	                                    </li>
	                                    <li class=" dropdown">
	                                        <span class="acopy">enterprise solutions
											<i class="fa fa-angle-down"></i>
											</span>
	                                        <ul class="dropdown" style="opacity: 0; display: none;">
	                                            <li>
	                                                <a href="{{ MAIN_SECURE_HOST }}/corp_solutions">for asset protection and security</a>
	                                            </li>
	                                            <li>
	                                                <a href="{{ MAIN_SECURE_HOST }}/corp_promo">for promotion</a>
	                                            </li>
	                                        </ul>
	                                    </li>
	                                    <li class=" dropdown">
	                                        <span class="acopy">register/&nbsp;found/&nbsp;test
											<i class="fa fa-angle-down"></i>
											</span>
	                                        <ul class="dropdown">
	                                            <li>
	                                                <a href="{{ MAIN_SECURE_HOST }}/registertag/">register a RocketTag</a>
	                                            </li>
	                                            <li>
	                                                <a href="{{ MAIN_SECURE_HOST }}/foundtag/">found a RocketTag</a>
	                                            </li>
	                                            <li>
	                                                <a href="{{ MAIN_SECURE_HOST }}/testtag/">test a RocketTag</a>
	                                            </li>
	                                        </ul>
	                                    </li>
	                                </ul>
	                            </nav>
	                            <nav class="mobile clearfix">
	                                <select name="main_navigation" id="main_navigation" class="fl">
	                                    <option value="/">home</option>
	                                    <option value="http://store.rockettags.com/collections/all">store</option>
	                                    <option value="http://store.rockettags.com/pages/how-it-works">how it works</option>
	                                    <optgroup label="enterprise solutions">
	                                        <option {% if page == 'corp_solutions' %} selected {% endif %} value="/corp_solutions">for asset protection and security</option>
	                                        <option {% if page == 'corp_promo' %} selected {% endif %} value="/corp_promo">for promotion</option>
	                                    </optgroup>
	                                    <optgroup label="register/&nbsp;found/&nbsp;test">
	                                        <option {% if page == 'registertag' %} selected {% endif %} value="https://www.rockettags.com/registertag/">register a RocketTag</option>
	                                        <option {% if page == 'foundtag' %} selected {% endif %} value="https://www.rockettags.com/foundtag/">found a RocketTag</option>
	                                        <option {% if page == 'testtag' %} selected {% endif %} value="https://www.rockettags.com/testtag/">test a RocketTag</option>
	                                    </optgroup>
	                                    <option {% if page == 'myrockettags' %} selected {% endif %} value="https://www.rockettags.com/myrockettags">myRockettags</option>
	                                    {% if page == 'home' %}<option selected value="/">Welcome</option>{% endif %}
	                                </select>
	                            </nav>
							</div>
						</section>
					</div>
				</div>

				<!-- End right navigation -->

				<!-- Begin below navigation -->

				<!-- End below navigation -->

				<!-- Begin content-->
				<section id="content" class="clearfix">
			
					<!-- CUSTOM -->
					{% block content %}
					



					{% endblock content %}
					<!-- CUSTOM -->

				</section>
				<!-- End content-->

			</div>
		</div>
		<!-- End wrapper -->

		<!-- Begin footer -->
		<div class="footer-wrapper">
			<footer>
				<div class="row">

					<div class="span12 full-border"></div>

					<!-- Begin latest blog post -->

					<div class="span4">
						<div class="p30">
							{% block twitter %}														
							<a class="twitter-timeline" href="https://twitter.com/RocketTags" data-widget-id="511672730358263808">Tweets by @RocketTags</a>
							<script>
								! function(d, s, id) {
									var js,
									    fjs = d.getElementsByTagName(s)[0],
									    p = /^http:/.test(d.location) ? 'http' : 'https';
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = p + "://platform.twitter.com/widgets.js";
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, "script", "twitter-wjs");
							</script>
							{% endblock twitter %}
						</div>
					</div>

					<!-- End latest blog post -->

					<!-- Begin footer navigation -->
					<div class="span4 footer-menu">
						<h4>Quick Links</h4>
						<ul class="unstyled">

							<li>
								<a href="http://store.rockettags.com/pages/about-us" title="About Us">About Us</a>
							</li>

							<li>
								<a href="http://store.rockettags.com/pages/contact-us" title="Contact Us">Contact Us</a>
							</li>

							<li>
								<a href="http://store.rockettags.com/collections/all" title="Store">Store</a>
							</li>

							<li>
								<a href="http://store.rockettags.com/pages/how-it-works" title="How It Works">How It Works</a>
							</li>

							<li>
								<a href="http://store.rockettags.com/pages/faqs" title="FAQ's">FAQ's</a>
							</li>

							<li>
								<a href="/foundtag/" title="Found A RocketTag">Found A RocketTag</a>
							</li>

							<li>
								<a href="/registertag/" title="Register A RocketTag">Register A RocketTag</a>
							</li>

							<li>
								<a href="/testtag/" title="Test A RocketTag">Test A RocketTag</a>
							</li> 
							    
							<li>
								<a href="http://store.rockettags.com/pages/warranty-information" title="Warranty Information">Warranty Information</a>
							</li>

							<li>
								<a href="http://store.rockettags.com/pages/suggested-qr-code-readers-scanners" title="Recommended QR Code Readers/Scanners">Recommended QR Code Readers/Scanners</a>
							</li>

						</ul>
					</div>
					<!-- End footer navigation -->

					<!-- Begin newsletter/social -->
					<div class="span4">
          
          
                      <div class="p30">
                        <h4>Newsletter</h4>
                        <form action="//rockettags.us8.list-manage.com/subscribe/post?u=842fa83fab69158b342baeedf&amp;id=5a854d02aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                          <input type="email" value="" placeholder="Email Address" name="EMAIL" id="mail"><input type="submit" class="btn newsletter" value="Subscribe" name="subscribe" id="subscribe">
                        </form>
                      </div>
                      
                      
                      
                      <div class="p30">
                        <h4><a href="http://store.rockettags.com/blogs/news">Latest News</a></h4>
                        <p class="p10"><strong><a href="http://store.rockettags.com/blogs/news/14108675-the-first-post" title="">The First Post</a></strong></p>

                        <p>Welcome to the new look RocketTags website.&nbsp; We have made many changes to make the website more intuitive, informative and user friendly. We really hope you enjoy the difference! The...</p>

                      </div>
  
                    </div>
					<!-- End newsletter/social -->

                    <div class="span4">                      
                      <div class="clearfix">                      
                        <h4>Follow us</h4>
                        
                        <a href="http://www.facebook.com/rockettags" title="RocketTags - The Trusted Lost &amp; Found Tag Solution on Facebook" class="icon-social facebook">Facebook</a>
                        <a href="http://www.youtube.com/user/rockettags" title="RocketTags - The Trusted Lost &amp; Found Tag Solution on YouTube" class="icon-social youtube">YouTube</a>
                      </div>                      
                    </div>

					<!-- Begin copyright -->
					<div class="span12 tc copyright">
						<p>
							Copyright &copy; 2014 RocketTags - The Trusted Lost and Found Tag Solution | <a href="http://www.shopify.com/tour/shopping-cart" target="_blank">Shopping Cart by Shopify</a>
						</p>

						<ul class="credit-cards clearfix">

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_american_express.svg" />
							</li>

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_diners_club.svg" />
							</li>

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_discover.svg" />
							</li>

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_jcb.svg" />
							</li>

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_master.svg" />
							</li>

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_paypal.svg" />
							</li>

							<li><img width="50" src="//cdn.shopify.com/s/global/payment_types/creditcards_visa.svg" />
							</li>

						</ul>
						<!-- /.credit-cards -->

					</div>
					<!-- End copyright -->

				</div>
			</footer>
		</div>
		<!-- End footer -->

		<script src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/jquery.flexslider-min.js" type="text/javascript"></script>

		<script src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/jquery.tweet.js" type="text/javascript"></script>
		<script src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/jquery.fancybox.js" type="text/javascript"></script>
		<script src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/scripts.js" type="text/javascript"></script>
		<script src="/static/js/custom.js" type="text/javascript"></script>
	</body>
</html>
