{% extends "corp_base.html" %}

{% block content %}

<div class="row" style="margin-bottom:25px">
    <div class="span12">
        <img src="/static/img/corpD.jpg" >

    </div>
</div>

{% endblock content %}
