{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">
        <div>        
            <h1 style="margin: 0; padding: 0"><strong>Add more details</strong></h1>
            <h2>(optional)</h2>                             
            <p>Please add additional details if you wish.</p>
            <p>This is optional, if you are done just click 'im finished' to proceed.</p>
        </div>
    </div>
    <div id="found-tag-3" class="span8 orange_box tc">
        <form action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            <h4><strong>YOUR DETAILS</strong></h4>
            <input maxlength="50" id="id_first_name" name="first_name"   type="text" placeholder="first name"/><br>
            <input maxlength="50"  id="id_last_name" style="margin-top: 7px"  name="last_name"  type="text" placeholder="last name"/><br>
            <input maxlength="100"  id="id_address" style="margin-top: 7px"  name="address"  type="text" placeholder="address"/><br>
            <input maxlength="50"  id="id_phone_number" style="margin-top: 7px"  name="phone_number"  type="text" placeholder="phone number"/><br>
            <select class="oj_combo" name="contact_method" style="margin: 7px 0 12px 0;" id="id_contact_method">
            <option value="" disabled selected>preferred contact method</option>
            <option value="email">email</option>
            <option value="phone call">phone call</option>
            <option value="text message">text message</option>
            </select>
            <h4><strong>ITEM DETAILS</strong></h4>
            <input maxlength="200" id="id_item_description" name="item_description"  value="{{ form.item_description.value }}" type="text" placeholder="item description"/><br>
            <input maxlength="100" id="id_item_location" style="margin-top: 7px"  name="item_location"  type="text" placeholder="location found"/><br>
        </div>
        <div>        
            <input type="image" name="submit" src="/static/img/Button_Im Done.png" alt="Submit" />
        </div> 
        </form>
    </div>
</div>
{% endblock content %}
