{% extends "base.html" %}

{% block content %}

<div class="wizard row">  
    <div class="span4">
        <div>        
            <h1><strong class="test">great!</strong> you're all done</h1>                             
            <p>We have notified the owner of the RocketTag that you have found their missing item.</p>
            <p>They will be in touch with you soon to organise the return of it.</p>
            <p>If you too want to better protect your valuables with the RocketTags system, then click <a href="http://store.rockettags.com/collections/all">here</a> now!</p>
        </div>
    </div>
    <div id="found-tag-4" class="span8 orange_box tc">
        <div>
            <img src="/static/img/Thumbs Up Graphic.png" />
        </div>
        <div>
            <a href="http://store.rockettags.com"><img src="/static/img/Button_All Done.png" /></a>
        </div>
    </div>
</div>  

{% endblock content %}
