{% extends "base.html" %}

{% block content %}

<div class="wizard row">			
	<div class="span4">
		<div>
			<h1><strong>found</strong> a Rocket&shy;Tag</h1>
			<p>
				Great! You have found someone's valuable item. Now lets get it back to them!
			</p>
			<p>
				Simply enter the RocketTag ID which can be found on the RocketTag, along with your email. We will notify the owner that you have found their item, they will be in contact with you shortly to arrange its return.
			</p>
		</div>
	</div>
	<div class="span8 orange_box tc">
		<form action="" method="post">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			<div>
				<input id="id_code" name="code" type="text" value="{{ form.code.value }}" placeholder="Enter a RocketTag ID" maxlength="10"/>
				<br>
				<input style="margin-top: 5px" id="id_email" name="email" type="text" placeholder="Enter your email address"/>
				<br>
				<br>
				<select class="oj_combo" name="item_description" id="id_item_description">
					<option value="" disabled selected>Select item (optional)</option>
					<option value="Other">Other</option>
					<option value="Bag">Bag</option>
					<option value="Camera">Camera</option>
					<option value="CarryBag">CarryBag</option>
					<option value="Cellphone">Cellphone</option>
					<option value="Charger">Charger</option>
					<option value="Gameboy">Gameboy</option>
					<option value="Garmin">Garmin</option>
					<option value="Glasses">Glasses</option>
					<option value="iPad">iPad</option>
					<option value="iPod">iPod</option>
					<option value="iPodTouch">iPodTouch</option>
					<option value="Kindle">Kindle</option>
					<option value="Luggage">Luggage</option>
					<option value="Magellan">Magellan</option>
					<option value="MoneyClip">MoneyClip</option>
					<option value="MP3Player">MP3Player</option>
					<option value="MusicDevice">MusicDevice</option>
					<option value="NavigationDevice">NavigationDevice</option>
					<option value="Navman">Navman</option>
					<option value="Nintendo">Nintendo</option>
					<option value="Notebook">Notebook</option>
					<option value="OtherElectronicDevice">OtherElectronicDevice</option>
					<option value="PC">PC</option>
					<option value="PortableComputer">PortableComputer</option>
					<option value="ReadingDevice">ReadingDevice</option>
					<option value="SchoolBag">SchoolBag</option>
					<option value="SportEquipment">SportEquipment</option>
					<option value="Sunglasses">Sunglasses</option>
					<option value="Tablet">Tablet</option>
					<option value="TomTom">TomTom</option>
					<option value="VideoCamera">VideoCamera</option>
					<option value="VideoRecorder">VideoRecorder</option>
					<option value="Wallet">Wallet</option>
				</select>
				<br>
				<br>
				<span class="oj_white"><strong>{{ form.code.errors.as_text }}</strong></span>
				<br>
				<span class="oj_white"><strong>{{ form.email.errors.as_text }}</strong></span>
			</div>
			<div>
				<input type="image" name="submit" src="/static/img/Button_Lets Do This.png" alt="Submit" />
			</div>
		</form>
	</div>
</div>
{% endblock content %}
