{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">    
        <div>        
            <h1>are you <strong>human?</strong></h1>                             
            <p>We just need to check you're not a robot. Please complete the simple equation and click to proceed.</p>
        </div>
    </div>
    <div class="span8 orange_box tc">     
        <form action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            {{ form.captcha }}
        </div>
        <div>
            <input type="image" name="submit" src="/static/img/Button_Ok Try That.png" alt="Submit" />
        </div>
        </form>
    </div>
</div>
{% endblock content %}
