<form action='' method='post'>{% csrf_token %}
Batch number to get:
{{ form.batch_num }}
<input name='commit' type='submit' />
<br>
<br>
<br>
{% for tag in tags %} 
{{ tag.code }}:{{ tag.id }}<br>
{% endfor %}
</div>
</form>

