{% extends "base.html" %}

{% block content %}

<!-- Begin slider -->
<div class="span12">
  <div class="flexslider-container">
    <div class="flexslider">
            <ul class="slides">

          <li>
            <a href="http://store.rockettags.com/collections/all">
              <img src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/slideshow_1.jpg?1247" alt="Luggage Tag" />
            </a>
            <!--
            <div class="flex-text1">
                <span class="flex-text1-bold">BETTER<br>PROTECT</span><br>
                <span class="flex-text1-normal">YOUR<br>VALUABLES</span>
            </div>
            -->
          </li>

          <li>
            <a href="http://store.rockettags.com//collections/all">
              <img src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/slideshow_2.jpg?1247" alt="" />
            </a>
            <!--
            <div class="flex-text2">                
                <span class="flex-text2-normal" >THE<br>TRUSTED</span><br>
                <span class="flex-text2-bold" >LOST and<br>FOUND<br></span>
                <span class="flex-text2-normal" >SOLUTION</span>
            </div>
            -->
          </li>

          <li>
            <a href="http://store.rockettags.com//collections/all">
              <img src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/slideshow_3.jpg?1247" alt="" />
            </a>
            <!--
            <div class="flex-text3">                
                <span class="flex-text3-normal" >PROTECT THOSE</span><br>
                <span class="flex-text3-bold" >PRECIOUS<br>MEMORIES</span>
            </div>
            -->
          </li>

          <li>
            <a href="http://store.rockettags.com//collections/all">
              <img src="//cdn.shopify.com/s/files/1/0504/5549/t/2/assets/slideshow_4.jpg?1247" alt="" />
            </a>
            <!--
            <div class="flex-text4">                
                <span class="flex-text4-bold" >YOUR BEST<br>CHANCE</span><br>
                <span class="flex-text4-normal" >OF HAVING YOUR</span><br>
                <span class="flex-text4-normal" >LOST VALUABLES<br>RETURNED</span>
            </div>
            -->
          </li>
 
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>
<!-- End slider -->
{% endblock content %}

