{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style type="text/css">

    .tabs {
        width:100%;
        display:inline-block;
    }

    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        float:left;
        list-style:none;
        width: 50%;
    }

    .tab-links a {
        padding: 20px;
        display:inline-block;
        border-radius:3px 3px 0px 0px;
        background: #ad5400;
        font-size:16px;
        font-weight:600;
        color: #d2d2d2;
        -webkit-box-shadow: inset 3px -12px 33px -16px rgba(0,0,0,0.57);
        -moz-box-shadow: inset 3px -12px 33px -16px rgba(0,0,0,0.57);
        box-shadow: inset 3px -12px 33px -16px rgba(0,0,0,0.57);

    }

    .tab-links a:hover {
        background:#a7cce5;
        text-decoration:none;
    }

    li.active a, li.active a:hover {
        background:#f37528;
        color:#FFF;
        padding: 20px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    ul.tab-links {
        margin: 0px;
    }

    .tab-content {

    }

    .tab {
        display:none;
        margin-top: 80px;
    }

    .tab.active {
        display:block;
    }

    .wizard .span8 {
        padding-top: 0;
    }

    input[type="password"] {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 32px;
        width: auto;
        min-width: 200px;
        max-width: 250px;
        background-color: white;
        color: #555;
        padding: 4px;
    }

</style>


<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.tabs .tab-links a').on('click', function(e)  {
            var currentAttrValue = jQuery(this).attr('href');

            // Show/Hide Tabs
            jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

            // Change/remove current tab to active
            jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

            e.preventDefault();
        });
    });
</script>



<div class="wizard row">
    <div class="span4">
        <div>        
            <h1><strong>Rocket&shy;Tags</strong> Login</h1>                           
            <p>Log in to RocketTags to access and edit your account information.<br>
            Remember, your username is your email address and your password is any RocketTag ID associated with your account.</p>       
        </div>
    </div>
    <div class="span8 orange_box tc">


    <div class="tabs">
        <ul class="tab-links">
            <li class="{{ normal_login_form_classes }}"><a href="#tab1">Customer login</a></li>
            <li class="{{ corporate_login_form_classes }}"><a href="#tab2">Corporate login</a></li>
        </ul>



    <div class="tab-content">
        <div id="tab1" class="tab {{ normal_login_form_classes }}">
        <form action="" method="post">{% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div>
                <input type="hidden" name="login_type" value="normal"/>
                <input id="id_email" name="email" type="text" placeholder="username (your email address)"/><br>
                <input style="margin-top: 5px" id="id_code" name="code" type="text" placeholder="password (your RocketTag ID)"  maxlength="10"/><br><br>
                {% if form.email.errors.as_text %}
                <span class="oj_white"><strong>{{ form.email.errors.as_text }}</strong></span><br/>
                {% endif %}
                {% if form.code.errors.as_text %}
                <span class="oj_white"><strong>{{ form.code.errors.as_text }}</strong></span><br/>
                {% endif %}
                {% if form.non_field_errors.as_text %}
                <span class="oj_white"><strong>{{ form.non_field_errors.as_text }}</strong></span>
                {% endif %}
            </div>
            <div>
                <input type="image" name="submit" src="/static/img/Button_Ok Try That.png" alt="Submit" />
            </div>

        </form>
        </div>



        <div id="tab2" class="tab {{ corporate_login_form_classes }}">
        <form action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            <input type="hidden" name="login_type" value="corporate"/>
            <input id="id_email" name="email" type="text" placeholder="username (your email address)"/><br>
            <input style="margin-top: 5px" id="id_code" name="code" type="password" placeholder="password"  maxlength="10"/><br><br>
            {% if form.email.errors.as_text %}
            <span class="oj_white"><strong>{{ form.email.errors.as_text }}</strong></span><br/>
            {% endif %}
            {% if form.code.errors.as_text %}
            <span class="oj_white"><strong>{{ form.code.errors.as_text }}</strong></span><br/>
            {% endif %}
            {% if form.non_field_errors.as_text %}
            <span class="oj_white"><strong>{{ form.non_field_errors.as_text }}</strong></span>
            {% endif %}
        </div>
        <div>
            <input type="image" name="submit" src="/static/img/Button_Ok Try That.png" alt="Submit" />
        </div>

        </form>
        </div>
    </div>

        </div>

    </div>
</div>

{% endblock content %}



