{% extends "base.html" %}

{% block content %}

<div class="wizard row">
    <div class="span4">
        <div>        
            <h1><strong>MyRocket&shy;Tags</strong></h1>                             
            <p>Log in to MyRocketTags to access and edit your acccount information.<br>
            Remember, your username is your email address and your password is any RocketTag ID associated with your account.</p> 
        </div>
    </div>
    <div id="my-rocket-tags" class="span8 orange_box tl" >
        <form id="myrockettags" action="" method="post">{% csrf_token %}
        <div style="padding: 20px;" >
            <span class="txt1">personal details</span><br><br>  
            <div class="clearfix" style="padding-bottom: 20px;">
                <div class="myrockettags_left">
                    <span class="txt3" ><strong>email:</strong></span>
                </div>
                <div class="myrockettags_right">
                    <input style="border: 0; padding: 0; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; height: 16px; background-color: #f37528; color: #ffffff; font-weight:700;" id="id_email" name="email" type="text" value="{{ user.email }}"/>{% if update_msg %}<img style="display: none;" id="flash" src="/static/img/mini_yes.png" width="25" height="18">{% endif %}<br>
                    <span class="txt4">select and retype to change email address <a class="txt4" style="text-decoration: underline;" id="update_email" href=".">click to save changes</a></span><br>    
                    <span class="oj_white"><strong>{{ form.email.errors.as_text }}</strong></span><br>
                </div>
            </div>              
            <span class="txt1">registered RocketTag IDs</span><br><br> 
            <div class="clearfix"> 
                <div class="clearfix" style="float: left">
                    <div class="clearfix">
                        <div style="float: left; min-width: 120px;">
                            <span class="txt2" style="text-decoration: underline;"><strong>ID</strong></span>
                        </div>
                        <div style="float: right; width: 75px;">                    
                            <span class="txt2" style="text-decoration: underline;"><strong>date&nbsp;registered</strong></span>
                        </div>
                    </div>   
                    {% for item in combined %}
                        <div class="clearfix">
                            <div style="float: left; min-width: 120px;">
                                <span class="txt3"><strong>{{ item.0 }}</strong></span>
                            </div>
                            <div style="float: right; width: 75px;">                    
                                <span class="txt3"><strong>{{ item.1|date:"d/m/y" }}</strong></span>
                            </div>
                        </div>   
                    {% endfor %}
                </div>
                
                <div style="float: right">
                    <a href="http://store.rockettags.com/collections/all"><img src="/static/img/get more tags button.png" /></a>
                </div>
            </div>
        </div>       
        </form>
    </div>
</div>

{% endblock content %}
