<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>

      #logo {
        padding-top: 20px;
      }
      a {
        color: white;
      }
      a:hover {
        color: white;
        text-decoration: underline;
      }
      .oj_white { 
        font-size:14px; 
        line-height:16px; 
        color: white;
      }  

      .logged {
        color: white;
        font-size: 0.8em;
      }

      .custom-center {
        margin: auto;
      }

      input[type="image"] {
        padding: 30px 0 0;
      }

      h1 {
        font-weight: 900;
        padding-bottom: 30px;
      }

      img {
        padding-bottom: 20px;
      }

      h1, p {
        color: white;
      }

      p {
        font-size: 1.2em;
        padding: 25px 0 25px;
      }

      body {
        background-color: #f37528;
        font-family: Helvetica, Arial, sans-serif;
      }

    </style>
  </head>
  <body>
    <div class="container">

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
            <img id="logo" class="img-responsive custom-center" src="/static/img/logo-promo-page.png" alt="RocketTags - The Trusted Lost and Found Tag Solution">
          </div>
          
          <div class="col-xs-2 col-md-4">
            {% if campaign_promo %}
            <span class="logged">{{ request.user.email }} {% if request.user.email %}<a href="/user_logout/">logout</a>{% endif %}</span><br>
            <span class="logged">sent: {{ customer_email }}</span>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4  ">
            <img class="img-responsive" src="/static/img/special-offer.png" alt="Special Offer!"> 
          </div>        
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 ">
            <p>Fill out your details below and we will email you our latest offer. Remember its only valid for a limited time so be quick and make the most of it!</p>
          </div>        
        </div>

        <div class="row">    
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4  ">             
            <div class="form-group">
              <form method="POST">{% csrf_token %}
              {{ form.email }}  
              <span id="id_email_error" class="oj_white"><strong>{{ form.email.errors.as_text }}</strong></span>            
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4  ">
            <input class="center-block" type="image" name="submit" src="/static/img/button-im-finished.png" alt="Submit">
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
