<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>

      #logo {
        padding-top: 20px;
      }
      a {
        color: white;
      }
      a:hover {
        color: white;
        text-decoration: underline;
      }
      .oj_white { 
        font-size:14px; 
        line-height:16px; 
        color: white;
      }  

      .logged {
        color: white;
        font-size: 0.8em;
      }

      .custom-center {
        margin: auto;
      }

      input[type="image"] {
        padding: 30px 0 0;
      }

      h1 {
        font-weight: 900;
        padding-bottom: 30px;
      }

      img {
        padding-bottom: 20px;
      }

      h1, p {
        color: white;
      }

      p {
        font-size: 1.2em;
        padding: 25px 0 25px;
      }

      body {
        background-color: #f37528;
        font-family: Helvetica, Arial, sans-serif;
      }

    </style>
  </head>
  <body>
    <div class="container">

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
            <img id="logo" class="img-responsive custom-center" src="/static/img/logo-promo-page.png" alt="RocketTags - The Trusted Lost and Found Tag Solution">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4  ">
            <img class="img-responsive" src="/static/img/promo-thankyou.png" alt="Special Offer!"> 
          </div>        
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 ">
            <p>We have emailed you through our latest special offer. It expires in 48 hours so quick, make the most of it.<br>Feel free to forward the special offer on to your friends so they too can better protect their valuables with RocketTags!</p>
          </div>        
        </div>

        <div class="row">    
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4  ">             
            <div class="form-group">
              <form method="POST">{% csrf_token %}
              {{ form.email }}  
              <span id="id_email_error" class="oj_white"><strong>{{ form.email.errors.as_text }}</strong></span>            
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4  ">
            <a href="http://store.rockettags.com"><img class="center-block" src="/static/img/get-yours-now.png"></a>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
