{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">
        <div>        
            <h1><strong>Registration</strong> process is complete.</h1>     
            <p>View and manage your details in the MyRocketTags section of the website at any time using the details below</p>
            <p>Username = Your Email<br>
            Password = Any RocketTags ID already registered to your account</p>
        </div>
    </div>
    <div id="register-tag-4" class="span8 orange_box tc">
        <div>
            <img src="/static/img/Thumbs Up Graphic.png" />
        </div>
        <div>
            <a href="http://store.rockettags.com"><img src="/static/img/Button_All Done.png" /></a>                
        </div> 
    </div>
</div>

{% endblock content %}

