{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">
        <div>        
            <h1><strong>register</strong> a Rocket&shy;Tag</h1>                             
            <p>Great, you have a new set of RocketTags to register.</p>
            <p>Simply enter the unique RocketTag ID found on one of your RocketTags below to get started!</p>
            <p>If you have more than one set of RocketTags to register then you will need to repeat this process for each set.</p>
        </div>
    </div>
    <div class="span8 orange_box tc" >
        <form action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            <input id="id_code" name="code" type="text" maxlength="10" value="{{ form.code.value }}" placeholder="Enter your RocketTag ID here"/><br>
            <span class="oj_white"><strong>{{ form.code.errors.as_text }}</strong></span>
        </div>       
        <div>
            <input type="image" name="submit" src="/static/img/Button_Lets Do This.png" alt="Submit" />
        </div>
        </form>
    </div>
</div>

{% endblock content %}
