{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">
        <div>
            <h1>Add these Rocket&shy;Tags to your <strong>existing account</strong></h1>                          
        </div>
    </div>
    <div id="register-tag-3" class="span8 orange_box tc">    
        <form id="register_tag3_form" action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            <h4><strong>Add these RocketTags to your existing account?</strong></h4>
            <h4><strong>The details are:</strong></h4>
            <h4><strong>Email Address: {{ form.email.value }}<br>RocketTag ID: {{ form.code.value }}</strong></h4>
        </div>
        <div>
            <input id="yes" type="image" src="/static/img/yes button.png" value="yes"><a href="http://store.rockettags.com"><img src="/static/img/no button.png"></a>
        </div>
        </form>
    </div>
</div>

{% endblock content %}

