{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">
        <div>        
            <h1><strong>Registration</strong> details</h1>                             
            <p>Please enter your email address</p>
        </div>
    </div>
    <div class="span8 orange_box tc" >
        <form action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            <input id="id_email" maxlength="100" name="email" type="text" placeholder="Your Email"/><br>
            <input id="id_email2" maxlength="100" style="margin-top: 7px" name="email2" type="text" placeholder="Confirm Your Email"/><br>                                
            <span class="oj_white"><strong>{{ form.non_field_errors.as_text }}</strong></span>
        </div>
        <div>            
            <input type="image" name="submit" src="/static/img/Button_Lets Do This.png" alt="Submit" />
        </div>
        </form>
    </div>
</div>

{% endblock content %}
