<form action='' method='post'>{% csrf_token %}
Email address:<br>
{{ form.email }}<br>
Secret:<br>
{{ form.secret_code }}<br>
<input name='commit' type='submit' />
<br>
{{ message }} 
</div>
</form>

