{% extends "base.html" %}

{% block content %}

<div class="wizard row">
    <div class="span4">
        <div>        
            <h1><strong>test</strong> a Rocket&shy;Tag</h1>                             
            <p>Have a new RocketTag to test? then enter the RocketTag ID in the box below and we will send you an email to confirm that everything is working as it should.</p>
            <p>Go for it!</p>
        </div>
    </div>
    <div class="span8 orange_box tc">    
        <form action="" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            <input id="id_code" name="code" type="text" placeholder="Enter your RocketTag ID here" maxlength="10"/><br>
            <span class="oj_white"><strong>{{ form.code.errors.as_text }}</strong></span>
        </div>
        <div>
            <input type="image" name="submit" src="/static/img/Button_Lets Do This.png" alt="Submit" />                
        </div>
        </form>
    </div>
</div>

{% endblock content %}
