{% extends "base.html" %}

{% block content %}

<div class="wizard row">   
    <div class="span4">
        <div>        
            <h1>Testing <strong class="test">complete</strong></h1>                             
            <p>Great! we have sent you an email to confirm your RocketTag is working correctly.</p>
            <p>Check your inbox now and don't forget to ensure it hasn't found its way into your junk folder by mistake.</p>
        </div>
    </div>
    <div id="test-tag-3" class="span8 orange_box tc">
        <div>
            <img src="/static/img/Gears Graphic.png" />
        </div>
        <div>
            <a href="http://store.rockettags.com"><img src="/static/img/Button_All Done.png" /></a>
        </div>
    </div>
</div>

{% endblock content %}
