{% extends "sheetapp/corpheadfoot.html" %}

{% block content %}

<link href="/static/css/styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Asap:300,400,700">
<link rel="stylesheet" type="text/css" href="/static/css/custom.css" media="all">
<script type="text/javascript" src="//cdn.shopify.com/s/global/ga_urchin_forms.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

<style type="text/css">
    div.dataTables_length {
        line-height: 27px;
    }

    div#tagstable_filter {
        line-height: 35px;
    }

    table#corpheadtable {
        padding: 3px;
    }

    table#corpheadtable td {
        border: hidden;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 5px;
    }

    .centered {
        text-align: center;
    }

    table#custom_field_table thead {
        font-size: larger;
    }

    table#custom_fields_table tr td, th  {
        border-top: 1px solid #dddddd;
    }

    div#tagstable_wrapper {
        margin-left: 15px;
        margin-right: 15px;
    }

    a.btn-corp, input.btn-corp {
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
        display:inline-block;
        height:36px;
        line-height:36px;
        border:none;
        margin:0;
        padding:0 20px;
        color: #f37528;
        font-weight: normal;
        font-size:12px;
        text-transform:none;
        background:#F0F0F0;
        border-radius: 5px;
        width: 200px;
        text-align: center;
    }

    a.btn-corp {
        padding:0 0px;
    }

    a.btn-corp:hover, input.btn-corp:hover {
        background-color:#ffffff;
        color:#ff6600;
    }

    .head_div {
        padding: 20px;
        background-color: #f37528;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        color: #ffffff;
        box-shadow: 5px 5px 21px #888888;
    }

    .head_div div {
        min-height: 200px;
        padding: 10px;
    }

    div.head_div_1 {
        float: left;
        margin-right: 20px;
    }

    div.head_div_2 {
        overflow: hidden;
        margin: 10px;
        min-height: 170px;
    }

    div.head_div_2 table tr td {
        border: none;
    }
    
    @media screen and (max-width: 800px) {
        div.head_div_1 {
            float: none;
            margin-right: 0;
            width: auto;
        }

        .button-cell {
            text-align: center !important;
        }
    }

    .button-cell {
        text-align: right;
    }

    .h7{
        font-size: 32px;
        color: #ffffff;
        font-family: Asap, 'Lucida Grande', Helvetica, Arial, sans-serif;
    }

    .italic {
        font-style: italic;
    }

    .bold {
        font-weight: bold;
    }

    .grey-color {
        color: #808080 !important;
    }


</style>
<div class="head_div">
    <div class="head_div_1">
        <table id="corpheadtable">
            <thead>
                <tr>
                    <td colspan="2"><p class="h7"><span class="italic">Enterprise</span> <span class="bold">Dashboard</span></p></td>
                </tr>
            </thead>
            <tr>
                <td class="bold">admin email: </td><td>{{ request.user.email }}</td>
            </tr>
            <tr>
                <td class="bold">total tags id's allocated: </td><td>{{ total_allocated_tags }}</td>
            </tr>
            <tr>
                <td class="bold">total tags id's assigned: </td><td>{{ total_assigned_tags }}</td>
            </tr>
            <tr>
                <td class="bold">account expires: </td><td>{% if account_expires %}{{ account_expires }}{% else %}(n/a){% endif %}</td>
            </tr>
        </table>
    </div>
    <div class="head_div_2">
        <table>
            <tr>
                <td class="button-cell">
                    <form action="/emailmyeditedtags/" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn-corp" value="send audit email"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="button-cell">
                    <form action="/downloadmytags" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn-corp grey-color" value="download a .csv file"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="button-cell">
                    <a class="btn-corp grey-color" href="/renamefields">rename fields 1-4</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<br/>

<table id="tagstable" class="display">
    <thead>
        <tr>
            <th width="30">ID</th>
            <th width="50">Code</th>
            <th>Assigned to</th>
            <th width="60">Email CC</th>
            <th>{% if custom_fields.field1 %}{{ custom_fields.field1 }}{% else %}Field 1{% endif %}</th>
            <th>{% if custom_fields.field2 %}{{ custom_fields.field2 }}{% else %}Field 2{% endif %}</th>
            <th>{% if custom_fields.field3 %}{{ custom_fields.field3 }}{% else %}Field 3{% endif %}</th>
            <th>{% if custom_fields.field4 %}{{ custom_fields.field4 }}{% else %}Field 4{% endif %}</th>
        </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
        <tr>
            <td class="centered">{{ tag.id }}</td>
            <td class="centered">{{ tag.code }}</td>
            <td class="editable-text" data-field="assigned_to" data-id="{{ tag.id }}">{% if tag.assigned_to %}{{ tag.assigned_to }}{% endif %}</td>
            <td class="centered"><input class="editable-checkbox" data-field="email_cc" data-id="{{ tag.id }}"  name="email_cc_{{tag.id}}" type="checkbox" value="1" {% if tag.email_cc %}checked="true"{% endif %}/></td>
            <td class="editable-text" data-field="field1" data-id="{{ tag.id }}">{% if tag.field1 %}{{ tag.field1 }}{% else %}{% endif %}</td>
            <td class="editable-text" data-field="field2" data-id="{{ tag.id }}">{% if tag.field2 %}{{ tag.field2 }}{% else %}{% endif %}</td>
            <td class="editable-text" data-field="field3" data-id="{{ tag.id }}">{% if tag.field3 %}{{ tag.field3 }}{% else %}{% endif %}</td>
            <td class="editable-text" data-field="field4" data-id="{{ tag.id }}">{% if tag.field4 %}{{ tag.field4 }}{% else %}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

// function to handle checkbox/bool value field for instaedit
function updateCheckbox(source, field, id) {
    var payload = {"field": field, "id": id, "value": source.checked};

    // perform the XHR call to update the boolean value
	$.ajax({
	  type: "POST",
	  url: "/updatetag",
	  data: payload,
	  success: function(data, textStatus, xhr) {
          // something should happen here?
      },
      error: function (xhr, textStatus, error) {
        alert("Something went wrong updating the value. Please contact the site administrator.")
      },
      dataType: "text"
	});

	return false;
}

// function that will show a textbox inside the "source" element
function showTextBox(source, field, id) {
    // create an input element, in this case a textbox
    var initialValue = $(source).text();
    var textbox = document.createElement("input");
    textbox.setAttribute("type", "text");
    textbox.setAttribute("value", initialValue);
    textbox.setAttribute("name", field+"_"+id);
    textbox.setAttribute("data-field", field);
    textbox.setAttribute("data-id", id);
    textbox.setAttribute("style", "height: 22px; min-width: 40px");

    // attach an event to the textbox that will detect when enter was pressed so that it will take the value and
    // send it to the back-end.
    $(textbox).keypress(function(event) {
        if(event.keyCode === 13){
            handleEdit(event.currentTarget);
        }
    });

    // in case of losing focus on an instaedit field assume that editing is done and save the value
    $(textbox).focusout(function(event) {
            handleEdit(event.currentTarget);
    });

    // clear source element contents
    $(source).text("");

    // insert the textbox in the table cell
    source.appendChild(textbox);

    // remove the click event from the element
    $(source).unbind('click');

    // give focus to text field
    $(textbox).select().focus();
}

function handleEdit(inputEl) {
    // function that will take the value of the textbox and send it over to the back end for storage
    // after save the textbox disappears
    // inputEl is the input element which was used

    var field = inputEl.getAttribute('data-field');
    var tagid = inputEl.getAttribute('data-id');
    var payload = {"field": field, "id": tagid, "value": inputEl.value};

    // disable element until we get a reply from home
    $(inputEl).prop("disabled", true);

    // make the XHR call
    $.ajax({
        type: "POST",
        url: "/updatetag",
        data: payload,
        success: function(data, textStatus, xhr) {
            if(xhr.status != 200) {
                // instaedit failed leave the textbox there
                $(inputEl).prop("disabled", false);
            } else {
                // call went ok, remove the textbox and put the value in its place and reattach event
                parentEl = $(inputEl).parent();
                $(parentEl[0]).text(xhr.responseText);
                $(parentEl[0]).click(function(event) {
                    showTextBox(event.currentTarget, field, tagid);
                });
                $(inputEl).remove();
            }
        },
        error: function(xhr, textStatus, error) {
            alert('Something went wrong updating the value. Please contact the site administrator.');
        },
        dataType: "text"
    });
}

function initInstaEdit() {
    // attach a function call to each element that is editable
    // that function call will show a text box
    $('td.editable-text').each(function(a, el) {
        var editablefield = el.getAttribute('data-field');
        var editableid = el.getAttribute('data-id');
        // re attach the click event
        $(el).click(function(event) {
            showTextBox(event.currentTarget, editablefield, editableid);
        });
    });

    // attach click event to checkboxes
    $('input.editable-checkbox').each(function(a, el) {
        var editablefield = el.getAttribute('data-field');
        var editableid = el.getAttribute('data-id');
        // re attach the click event
        $(el).click(function(event) {
            updateCheckbox(event.currentTarget, editablefield, editableid);
        });
    });
}

// turn our tag table to a datatable
$(document).ready( function () {
    // initialize the jQuery Datatable
    var tagtable = $('#tagstable').dataTable();

    tagtable.on('draw.dt', function () {
        initInstaEdit();
    });

    initInstaEdit();
});
</script>

{% endblock content %}
