{% extends "transition/base.html" %}

{% block content %}

<div class="wizard row">
    <div class="span4">
        <div>        
            <h1>Sheetapp</h1>                             
        </div>
    </div>
    <div class="span8 orange_box tc">
        
    </div>
</div>

{% endblock content %}

{% block twitter %}{% endblock twitter %}


