{% extends "sheetapp/corpheadfoot.html" %}

{% block content %}

<link href="/static/css/styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Asap:300,400,700">
<link rel="stylesheet" type="text/css" href="/static/css/custom.css" media="all">
<script type="text/javascript" src="//cdn.shopify.com/s/global/ga_urchin_forms.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

<style type="text/css">
    table#custom_fields_table tr td, th  {
        border-top: 1px solid #dddddd;
    }

    div#custom_fields_layout {
        margin-left: 15px;
        margin-right: 15px;
    }

    .headrow {
        background-color: #dcd8c9;
    }
</style>

<div id="custom_fields_layout">
    <form action="/updatecustomfields/" method="post">
        <table id="custom_fields_table">
        {% csrf_token %}
            <tr>
                <td colspan="2" class="headrow">Please use this form to rename the 4 custom fields below.</td>
            </tr>
        {{ update_fields_form.as_table }}
            <tr>
                <td  width="40">
                <input class="btn" type="submit" value="Update field names" />
                </td>
                <td>
                    <a href="/corpmanage">Go back to the Enterprise Dashboard</a>
                </td>
            </tr>
        </table>

        <div style="margin-bottom: 25px;"></div>
    </form>
</div>

<script type="text/javascript">


</script>

{% endblock content %}

{% block twitter %}{% endblock twitter %}