{% extends "sheetapp/corpheadfoot.html" %}

{% block content %}

<style type="text/css">

    .h7{
        font-size: 32px;
        color: #ffffff;
        font-family: Asap, 'Lucida Grande', Helvetica, Arial, sans-serif;
    }

    .italic {
        font-style: italic;
    }

    .head_div {
        padding: 20px;
        background-color: #f37528;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        color: #ffffff;
        box-shadow: 5px 5px 21px #888888;
    }

    .proper_margins {
        margin-left: 15px;
        margin-right: 15px;
    }

    table.top-border th {
        border-top: 1px solid #dddddd;
    }

    .boldtext1 {
        color: #555555;
        font-weight: 400;
        font-size: 24px;
    }

    .boldtext2 {
        color: #555555;
        font-weight: 400;
        font-size: 28px;
        color: #ffffff;
    }

    .error-row {
        background-color: #a65151;
        color: #ffffff;
    }

    ul.errorlist {
        margin: 0px;
    }

    .error {
        border: 1px solid #ffa390;
    }

    .success {
        background-color: #66c767;
    }
</style>

    <div class="head_div">
        <div class="head_div_1">
            <span class="boldtext2"><span class="italic">Staff</span> <span class="bold">Console</span></span>
        </div>
        <div class="head_div_2">

        </div>
    </div>

    <div class="proper_margins">
    <br/>
    <form action="/createcorporateaccount" method="post" name="add_account_form">
        {% csrf_token %}
    <table class="top-border">
        <thead>
        {% if add_account_process_messages %}
        {% for type, message in add_account_process_messages.items %}
        <tr class="{{ type }}">
            <td colspan="2">{{ message }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
            <td colspan="2">
                <span class="boldtext1">Add corporate account</span>
            </td>
        </tr>
        {% if add_corp_account_form.errors %}
            {% for field in add_corp_account_form %}
                {% for error in field.errors %}
                    <tr class="error-row"><td colspan="2">
                        <strong>{{ field.label }}: {{ error|escape }}</strong>
                    </td></tr>
                {% endfor %}
            {% endfor %}
            {% for error in add_corp_account_form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        </thead>
        {{ add_corp_account_form.as_table }}
        <tr>
            <td width="200">
                <input name="add_account_form" class="btn" type="submit" value="add corporate account" />
            </td>
            <td>
                <a href="javascript:void(false);">reset</a>
            </td>
        </tr>
    </table>
    </form>
    <br/>
    <form action="/uploadtags" method="post" name="upload_form" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="top-border">
            <thead>
            {% if upload_process_messages %}
                {% for type, message in upload_process_messages.items %}
                    <tr class="{{ type }}">
                        <td colspan="2">{{ message }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td colspan="2">
                    <span class="boldtext1">Batch register tags for corporate account</span>
                </td>
            </tr>
            {% if upload_tags_form.errors %}
                {% for field in upload_tags_form %}
                    {% for error in field.errors %}
                        <tr class="error-row"><td colspan="2">
                            <strong>{{ field.label }}: {{ error|escape }}</strong>
                        </td></tr>
                    {% endfor %}

                {% endfor %}
                {% for error in upload_tags_form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            </thead>
            {{ upload_tags_form.as_table }}
            <tr>
                <td width="200">
                    <input name="upload_form" class="btn" type="submit" value="upload" />
                </td>
                <td>
                    <a href="javascript:void(false);">reset</a>
                </td>
            </tr>
        </table>
    </form>
    </div>
{% endblock content %}