
.fr {
    float: right !important;
}

.fl {
    float: left !important;
}

.fn {
    float: none !important;
}

.tr {
    text-align: right !important;
}

.tl {
    text-align: left !important;
}

.tc {
    text-align: center !important;
}

.orange_box {
    background-color: #f37528;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-border-radius: 2px;
}

.orange_box > form > div,
.orange_box > div,
.orange_box  form > div {
    vertical-align: middle;
    display: inline-block;
}

div#found-tag-4 > div, div#test-tag-3 > div {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}

div#my-rocket-tags > form > div {
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}

.wizard .span8 {
    padding: 155px 0 155px 0;
}

.wizard div#my-rocket-tags {
    padding: 0 0 0 0;
}

.wizard div#found-tag-3 {
    padding: 50px 0 50px 0;
}

.wizard div#found-tag-4 {
    padding: 80px 0 40px 0;
}

.wizard div#register-tag-3 {
    padding: 80px 0 80px 0;
}

.wizard div#register-tag-4 {
    padding: 80px 0 40px 0;
}

.wizard div#test-tag-3 {
    padding: 60px 0 0 0;
}

.wizard h1, .wizard h2, .wizard p {
    color: #555555;
    font-weight: 400;
}

.wizard h4, .oj_white {
    color: #ffffff;
    font-weight: 400;
}

.wizard h1 {
    font-size: 35px;
    line-height: 40px;
}

.wizard h2 {
    font-size: 27px;
    line-height: 29px;
}

.wizard p {
    font-size: 14px;
    line-height: 16px;
}

.wizard h4 {
    font-size: 14px;
    line-height: 16px;
}

.oj_white {
    font-size: 14px;
    line-height: 16px;
}

.wizard .txt1, .wizard .txt2 {
    color: #fff;
    font-weight: 900;
}

.wizard .txt3, .wizard .txt4 {
    color: #fff;
    font-weight: 400;
}

.wizard .txt1 {
    font-size: 23px;
    line-height: 25px;
}

.wizard .txt2 {
    text-decoration: underline;
    font-size: 16px;
    line-height: 17px;
}

.wizard .txt3 {
    font-size: 14px;
    line-height: 15px;
}

.wizard .txt4 {
    font-size: 10px;
    line-height: 15px;
}

::-webkit-input-placeholder {
    color: #555555 !important;
}

:-moz-placeholder {
    color: #555555 !important;
}

.myrockettags_left {
    float: left;
    width: 40%;
}

.myrockettags_right {
    float: right;
    width: 60%;
}

input[type="text"], .oj_combo {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 32px;
    width: auto;
    min-width: 200px;
    max-width: 250px;
    background-color: white;
    color: #555;
    padding: 4px;
}

input[type="image"] {
    border: 0;
    padding: 0;
    height: auto;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


option {
    color: #000;
}

option:first-child {
    color: #555;
}

@media only screen and (min-width: 1027px) {
    .tab-links a {
        width: 277px !important;
    }
}

/* 4.1 - Desktop Slim */
@media only screen and (min-width: 768px) and (max-width: 1026px) {
    .wizard .span8,
    .wizard div#found-tag-3,
    .wizard div#found-tag-4,
    .wizard div#register-tag-3,
    .wizard div#register-tag-4,
    .wizard div#test-tag-3 {
        padding: 0 0 0 0;
    }

    .tab-links a {
        width: 201px !important;
    }
}

/* 4.2 - Tablet Landscape */
@media only screen and (min-width: 510px)  and (max-width: 797px) {
    .wizard .span8,
    .wizard div#found-tag-3,
    .wizard div#found-tag-4,
    .wizard div#register-tag-3,
    .wizard div#register-tag-4,
    .wizard div#test-tag-3 {
        padding: 0 0 0 0;
    }

    .tab-links a {
        width: 145px !important;
    }
}

/* 4.3 - Mobile Landscape */
@media only screen and (min-width: 510px) and (max-width: 629px) {
    .wizard .span8,
    .wizard div#found-tag-3,
    .wizard div#found-tag-4,
    .wizard div#register-tag-3,
    .wizard div#register-tag-4,
    .wizard div#test-tag-3 {
        padding: 0 0 0 0;
    }

    .myrockettags_left {
        float: none;
        width: none;
    }

    .myrockettags_right {
        float: none;
        width: none;
    }

    .tab-links a {
        width: auto !important;
    }
}

/* 4.4 - Mobile Portrait */
@media only screen and (max-width: 509px) {
    .wizard .span8,
    .wizard div#found-tag-3,
    .wizard div#found-tag-4,
    .wizard div#register-tag-3,
    .wizard div#register-tag-4,
    .wizard div#test-tag-3 {
        padding: 0 0 0 0;
    }

    .myrockettags_left {
        float: none;
        width: none;
    }

    .myrockettags_right {
        float: none;
        width: none;
    }
}

.alert {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
