/* rockettags_backgroundscss 
(c) 2012 Rocket Tags Ltd, NZ

Background pictures for the RocketTags site
*/

.theme-default .info {

-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
box-shadow: 0px 1px 5px 0px #4a4a4a;

border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
border-top-left-radius:1em;
border-top-right-radius:1em;


}

#preload {
	
background:#fff url("/static/img/Login Page 1.jpg") no-repeat 50% 50%;
background:#fff url(/static/img/grey_with_background2.jpg) no-repeat 50% 50%;
background:#fff url("/static/img/How it Works.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/My Rocket Tags Background.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Generate Existing RocketTag.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Grey-Background.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/grey-background.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/My Rocket Tags Login.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Get Your RocketTags Page 1.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Get Your Tags Page 2.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Get Your Tags Page 3.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Get Your Tags Page 4.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/My Rocket Tags Registration Details.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Get Your Tags Page 5.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/found_a_tag_page_1.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/found_a_tag_page_2.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/How it Works.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Slide_Phone.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Slide_Headphone Girl.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Slide_Camera.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Slide_Ninja.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Slide_Suitcase.jpg") no-repeat 50% 50%;
background:#fff url("/static/img/Slide_Colours.jpg") no-repeat 50% 50%;

		display:none;
}

.info#large_box {

top:0px;
background:#fff url("/static/img/background_large_white_box.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#small_box {

top:0px;
background:#fff url("/static/img/background_small_white_box.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#grey_background {

top:0px;
background:#fff url("/static/img/grey-background.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}


.info#login_picture {

top:0px;
background:#fff url("/static/img/background_small_white_box.png") no-repeat 50% 50%;
/*background-image:url(/static/img/1.jpg); */
min-height:400px;

border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
border-top-left-radius:1em;
border-top-right-radius:1em;

	
}

.info#display_screens_picture {

top:0px;
background:#fff url(/static/img/grey_with_background2.jpg) no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#display_screens_how_it_works_picture {

top:0px;
background:#fff url("/static/img/background_large_white_box.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#display_screens_solutions_picture {

top:0px;
background:#fff url("/static/img/grey-background.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#redeem_code_picture {

top:0px;
background:#fff url("/static/img/background_large_white_box.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#mytags_picture {

top:0px;
background:#fff url("/static/img/personal_details.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#mytags_picture_generate_image {

top:0px;
background:#fff url("/static/img/Generate Existing RocketTag.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#mytags_picture_registration {

top:0px;
background:#fff url("/static/img/Grey-Background.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#mytags_picture_login {

top:0px;
background:#fff url("/static/img/background_small_white_box.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#store_picture_front {

top:0px;
background:#fff url("/static/img/store_front.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_products {

top:0px;
background:#fff url("/static/img/grey-background.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_products_registered {

top:0px;
background:#fff url("/static/img/products_registered.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_products_unregistered {

top:0px;
background:#fff url("/static/img/products_unregistered.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_tags_registered {

top:0px;
background:#fff url("/static/img/tags_registered.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_tags_unregistered {

top:0px;
background:#fff url("/static/img/tags_unregistered.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#store_picture_formats {

top:0px;
background:#fff url("/static/img/Get Your Tags Page 2.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_colours {

top:0px;
background:#fff url("/static/img/Get Your Tags Page 3.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_subscription {

top:0px;
background:#fff url("/static/img/Get Your Tags Page 4.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_registration {

top:0px;
background:#fff url("/static/img/My Rocket Tags Registration Details.jpg") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#store_picture_payment {

top:0px;
background:#fff url("/static/img/background_small_white_box.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#tags_picture_found_tag_1 {

top:0px;

background:#fff url("/static/img/found_a_tag_front.png") no-repeat 50% 50%;
/*background:#fff url("/static/img/found_a_tag_page_1.jpg") no-repeat 50% 50%;*/
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
.info#tags_picture_found_tag_test {

top:0px;

background:#fff url("/static/img/background_large_white_box.png") no-repeat 50% 50%;
/*background:#fff url("/static/img/found_a_tag_page_1.jpg") no-repeat 50% 50%;*/
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#tags_picture_found_tag_2 {

top:0px;
background:#fff url("/static/img/found_a_tag_page_2.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}

.info#tags_picture_found_tag_3 {

top:0px;
background:#fff url("/static/img/found_a_tag_page_3.png") no-repeat 50% 50%;
/* background-image:url(/static/img/1.jpg); */
min-height:400px
	
}
