/* rockettags_login.css 
(c) 2012 Rocket Tags Ltd, NZ

Stylesheet attributes for the RocketTags version of navbar
*/

/*
body {
    font-family: "Nunito", Arial, sans-serif; 
    font-size: 13px; 
}
*/

ul#nav-bar {
     background-color: transparent; /*#FFFFFF;*/ /* old browsers */
     
	 /*background: -moz-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%); *//* firefox */
     /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F5F5F5));*/ /* webkit */
     /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F5F5F5',GradientType=0 ); *//* ie */
     padding:10px 20px;
     margin: 5px;
     /*-webkit-box-shadow: 1px 1px 8px #939598;*/ /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /*-moz-box-shadow: 1px 1px 8px #939598;*/ /* FF3.5 - 3.6 */
    /*box-shadow: 1px 1px 8px #939598; */ /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
     /*color:#fff;*/
	 font:inherit;
}

ul#nav-bar li {
     display:inline;
     margin-right:3px;
     list-style-type:none;
}

ul#nav-bar li a {
     text-decoration:none;
     font-weight:bold;
     color:#6C6C6C;
     border-left:1px solid #939598;
     padding:3px 28px;
     font-size: 12px;
}

ul#nav-bar li:first-child a {
     border-left:none;
}

/*
ul#nav-bar li a:hover {
     background:rgba(0, 0, 0, 0.1);
}
*/


/* New nav-bar functionality to enable menu bar to better line up */
/* THIS IS NOT GENERIC BUT DEPENDS ON ITEMS INCLUDED */

.nav-bar-container {
     background: transparent; /*#FFFFFF;*/ /* old browsers */
     color:#fff;
	 width:810px;
	 font:inherit;
	 padding:8px 0px;
}

.nav-bar-container table {
	 width:100%;
	 padding:0px 0px;
}

.nav-bar-container table tr td {
	 padding:3px 5px;
	 width:80px;
	 text-align:center;
	 vertical-align:middle;
	 border-left:0px solid #939598;
}

.nav-bar-container table tr td:first-child {
     border-left:none;
}

.nav-bar-container table tr td a {
     text-decoration:none;
     font-weight:bold;
     color:#6C6C6C;
     font-size: 12px;
}

.nav-bar-container table tr td span {
     text-decoration:none;
     font-weight:bold;
     color:#999999;
     font-size: 12px;
	 cursor:default;
}



.info {
display:block; height:215px;
padding: 10px;
margin: 4px;
border-style:solid;
border-width:1px;
border-color: #D2D4D9;

border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
border-top-left-radius:1em;
border-top-right-radius:1em;


-webkit-box-shadow: 1px 1px 8px #ADAFB3; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow: 1px 1px 8px #ADAFB3; /* FF3.5 - 3.6 */
box-shadow: 1px 1px 8px #ADAFB3; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}

.info_clear {
display:block; height:215px;
padding: 10px;
margin: 4px;
border-style:solid;
border-width:0px;
border-color: #D2D4D9;

border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
border-top-left-radius:1em;
border-top-right-radius:1em;



}


.infofnt{
    font-size: 14px;
    color: #d85b2f;
    position:absolute;
    bottom:0;
    padding:10px;
    width:100px;
    }

.fnt18{
    font-size: 18px;
    font-weight:bold;
}

.fnt22{
    font-size: 22px;
    font-weight:bold;
}

