/* rockettags_font.css 
(c) 2012 Rocket Tags Ltd, NZ

Stylesheet font attributes for the RocketTags site
Call this after linking in all other stylesheets!
*/

body {
        font-family:'Arial', sans-serif;
        font-size:13px;       
       }
	   
.fnt12{
	font-family:'Arial', sans-serif;
    font-size: 12px;
    font-weight:bold;
}

.fnt13{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:bold;
}

.fnt13_grey{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:normal;
	color:#999999;
}

.bottom_item_title{
	font-family:'Arial', sans-serif;
    font-size: 18px;
    font-weight:bold;
	color:#333333;
}

.bottom_item_title_smaller{
	font-family:'Arial', sans-serif;
    font-size: 16px;
    font-weight:bold;
	color:#555555;
}

.bottom_item_text{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:normal;
	color:#666666;
}

.item_text_bold{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:bold;
	color:#666666;
}

.item_text{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:normal;
	color:#666666;
}

.small_item_text{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:normal;
	color:#666666;
}

.small_item_text_bold{
	font-family:'Arial', sans-serif;
    font-size: 13px;
    font-weight:bold;
	color:#666666;
}

.small_item_text_bold_faint{
	font-family:'Arial', sans-serif;
    font-size: 12px;
    font-weight:bold;
	color:#999999;
}

.smaller_item_text{
	font-family:'Arial', sans-serif;
    font-size: 12px;
    font-weight:normal;
	color:#666666;
}

.very_small_item_text{
	font-family:'Arial', sans-serif;
    font-size: 11px;
    font-weight:normal;
	color:#666666;
}

.very_small_item_text_8{
	font-family:'Arial', sans-serif;
    font-size: 8px;
    font-weight:normal;
	color:#666666;
}

.bottom_item_text_smaller{
	font-family:'Arial', sans-serif;
    font-size: 12px;
    font-weight:normal;
	color:#666666;
}

.large_title {
	font-family:'Arial', sans-serif;
    font-size: 18px;
    font-weight:bold;
	color:#333333;	
}

.larger_title {
	font-family:'Arial', sans-serif;
    font-size: 20px;
    font-weight:bold;
	color:#333333;	
}

.very_large_title {
	font-family:'Arial', sans-serif;
    font-size: 28px;
    font-weight:bold;
	color:#333333;	
}
