/* rockettags_common.css
(c) 2012 Rocket Tags Limited

Stylesheet attributes common to the entire Rocket Tags site
call this before linking all other stylesheets

*/

* {
   margin:0px;
   padding:0px;   	
}

body {
   font-family:'Nunito', sans-serif;   
   font-size:13px;
}	

a {
	text-decoration:none;
	color:inherit;
}
	   
th {
	text-align:left;
}