<!-- MAILER VERSION: 1.0 -->
<html>
<head><title>RocketTags - Add a RocketTag</title></head>

<body style="background-color:#EEEEEE;">

<!-- Main Table for everything -->
<table border="0">

<!-- Header Image -->
<tr>
<td>
<center><img src="cid:{{ logo }}" style="width:698px; height:138px; border:0px solid black;"></center>
</td>
</tr>

<tr>
<td>

<!-- Email Paper Boundary -->
<table width="698px" border="0" style="box-shadow: 1px 2px 1px #888888; border-radius:.2em; background-color:#FFFFFF;">
<tr>
<td>

<center>

<!-- Email Body -->
<table border="0">

<tr>
<td>
<!-- Welcome banner -->
<p style="font-family:'Arial'; font-weight:600; font-size:25px; width:600px; text-align:center; padding-top:0px; padding-bottom:6px; color:#EE7600; border-top:5px double #EEEEEE; border-bottom:2px solid #EEEEEE;">
New RocketTags Added
</p>
</td>
</tr>

<tr>
<td>
<p style="width:600px; font-family:'Arial'; color:#999999; font-weight:300; ">
Congratulations on registering a new RocketTag ID.<br>
Remember you can add more RocketTags to your account at any time.  These can be purchased directly from selected retailers or at the RocketTags Store at <a href="http://www.rockettags.com" style="text-decoration:underline; color:#EE7600;">www.rockettags.com</a><br><br>

If you want to sign into your account, go to MyRocketTags at <a href="http://www.rockettags.com" style="text-decoration:underline; color:#EE7600;">www.rockettags.com</a><br> 
Your account login is your email address and your password is any RocketTags ID registered against your account.<br><br>

For example: {{user.email}}<br>
RocketTags ID: {{tag_code}} or any other RocketTags registered to your account.<br><br>

<span style="text-decoration:none; color:#EE7600; font-style:normal;">The RocketTags Team</span><br><br>

This email was sent to <a href="mailto:{{user.email}}" style="text-decoration:underline; color:#EE7600;">{{user.email}}</a>

<br>
<br>
</p>

</td>
</tr>

</table> <!-- Email Body -->
</center>

</td>
</tr>
</table> <!-- Email Paper Boundary -->

</td>
</tr>

<tr>
<td>
<!-- Goto Facebook -->
<p style="font-family:'Arial'; color:#999999; font-weight:300; text-align:center;">
Follow us on <a href="http://www.facebook.com/rockettags" style="text-decoration:underline; color:#EE7600;">Facebook</span>
</p>
</td>
</tr>

</table> <!-- Main Table for everything -->

</body>
</html>
