<!-- MAILER VERSION: 1.0 -->
<html>
<head><title>RocketTags - Modified tags (edited today {{ edited_today_date }})</title></head>


<body style="background-color:#EEEEEE;">

<!-- Main Table for everything -->
<table border="0">

    <!-- Header Image -->
    <tr>
        <td>
            <center><img src="cid:{{ logo }}" style="width:698px; height:138px; border:0px solid black;"></center>
        </td>
    </tr>

    <tr>
        <td>

            <!-- Email Paper Boundary -->
            <table width="698px" border="0" style="box-shadow: 1px 2px 1px #888888; border-radius:.2em; background-color:#FFFFFF;">
                <tr>
                    <td>

                        <center>

                            <!-- Email Body -->
                            <table border="0">

                                <tr>
                                    <td style"=padding:0px;">
                                    <!-- Welcome banner -->
                                    <p style="font-family:'Arial'; font-weight:600; font-size:25px; width:600px; text-align:center; padding-top:0px; padding-bottom:6px; color:#EE7600; border-top:5px double #EEEEEE; border-bottom:2px solid #EEEEEE;">
                                        This is a list of tags that were modified today {{ edited_today_date }}
                                    </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                        <table width="600px" border="0">
                                            <tr>
                                                <td style="padding-bottom:10px;">
                                                    <p style="width:600px; font-family:'Arial'; color:#999999; font-weight:300; font-size:10pt;">
                                                        <br>Hi there, <br><br>

                                                        This is an email to inform of the tags that were modified today {{ edited_today_date }}.<br><br>

                                                        Here is the list of tags:<br><br>
                                                    </p>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <table width="600px" style="font-family:'Arial'; color:#999999; font-size:10pt;" border="0">
                                                        <tr>
                                                            <td>Code</td><td>Registered at</td><td>Edited at</td><td>Assigned to</td>
                                                        </tr>
                                                        {% for tag in tag_list %}
                                                        <tr>
                                                            <td style="color:#EE7600; font-weight:bold;">{{ tag.code }}</td>
                                                            <td><span style="font-family:'Arial'; color:#999999;font-weight:bold;">{{ tag.registered_date }}</span></td>
                                                            <td><span style="font-family:'Arial'; color:#999999;font-weight:bold;">{{ tag.edit_time }}</span></td>
                                                            <td><span style="font-family:'Arial'; color:#999999;font-weight:bold;">{{ tag.assigned_to }}</span></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <p style="width:600px; font-family:'Arial'; color:#999999; font-weight:300; font-size:10pt;">

                                                        <br>
                                                        Thanks! <br><br>

                                                        <span style="text-decoration:none; color:#EE7600; font-style:normal;">The RocketTags Team</span><br><br>

                                                        This email was sent to <a href="mailto:{{owner.email}}" style="text-decoration:underline; color:#EE7600;">{{owner.email}}</a>

                                                        <br>
                                                        <br>
                                                    </p>
                                                </td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>

                            </table> <!-- Email Body -->
                        </center>

                    </td>
                </tr>
            </table> <!-- Email Paper Boundary -->

        </td>
    </tr>

    <tr>
        <td>
            <!-- Goto Facebook -->
            <p style="font-family:'Arial'; color:#999999; font-weight:300; text-align:center;">
                Follow us on <a href="http://www.facebook.com/rockettags" style="text-decoration:underline; color:#EE7600;">Facebook</span>
            </p>
        </td>
    </tr>

</table> <!-- Main Table for everything -->

</body>
</html>
