<html>
	<head>
		<title>RocketTags - Promo</title>
	</head>
	<body style="background-color: #EEEEEE;">

		<!-- Main Table for everything -->
		<table border="0">

			<tr>
                <td>
                    <center><p style="font-family: Arial; font-size: 13px; color: #999999; padding: 10px 0 20px;">To ensure delivery to your inbox, please add <span style="color: #EE7600;">mailer@rockettags.com</span> to your contact book</p></center>
                </td>
            </tr>
			<tr>
				<td><!-- Email Paper Boundary -->
        				
                        <table width="698px" border="0" style="box-shadow: 1px 2px 1px #888888; border-radius:.2em; background-color:#FFFFFF;">
        					
                            <tr>
                                <td>
                                    <center><img style="width: 250px; height: 48px; margin: 15px 0 20px;" src="cid:{{ logo }}"></center>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <center><img style="width: 250px; height: 106px; margin-bottom: 30px;" src="cid:{{ special_offer }}"></center>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <center>
                                        <p style="font-family: Arial; width:260px; font-weight:600; font-size: 25px; text-align: justify; margin-bottom: 25px; color: #999999;">to get <span style="color: #EE7600;">{{ percentage }}% off</span> your new set of Rocket&shy;Tags enter this code at RocketTags.com on checkout</p>
                                    </center>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <center><span style="font-family: Arial; color: #EE7600; font-weight:500; font-size: 20px;">{{ code }}</span>
                                    </center>
                                    <br>
                                    <br>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p style="font-family: Arial; font-size: 13px; color: #999999;">
                                        Hi and Welcome to RocketTags<br><br>                     
                                        Use the promo code above at the RocketTags store checkout and receive {{ percentage }}% off the total purchase price.
                                        This offer is only valid for a limited time and will expire in 24 hours, so be quick! forward this email to 
                                        all your friends and start protecting your valuables with RocketTags.com<br><br>
                                        <a style="color: #EE7600;" href="http://store.rockettags.com">click here to get yours now!</a><br><br><br>
                                        The RocketTags Team<br><br><br>
                                    </p>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <p style="font-family: Arial; font-size: 13px; color: #999999; text-align: justify;">This email was sent to <span style="color: #EE7600;">{{ email }}</span> Follow us on <a style="color: #EE7600;" href="http://www.facebook.com/rockettags">Facebook</a>
                                    </p>
                                </td>
                            </tr>
        				</table>
                </td>
			</tr>

		</table>
		<!-- Main Table for everything -->
	</body>
</html>
